@import "settings";

body, html {
  position: relative;
  height: 100%;
}

body.admin {
  font-family: $font-main;
  font-size: 0.7em;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;

  .profil-dataset{
    .wrapper{
      padding: 5px 0;
    }
    label {
      font-size: 0.85em;
      display: block;
      line-height: 1.3;
      margin: 0 0 5px 0;
      font-weight: 300;
    }
    .data-value{
      font-size: 1.2em;
      color: black;
    }
  }

  h1 + .subtitle{
    font-size: 1.3em;
    color: $color-grey;
    margin: 0 0 25px 0;
  }

  .row.np{
    margin-left: -30px !important;
    margin-right: -30px !important;
  }

  &.login-page{
    background: darken($color-grey, 5%);
  }

  #login {
    margin: 10% auto;
    width: 550px;

    .input-group-addon{
      width: 38px;
      text-align: center;
    }

    .logologin{
      margin: 0 0 40px 0;
      text-align: center;

      img{
        max-width: 80%;
      }
    }

    .copyright {
      color: lighten($color-grey, 20%);
      text-align: center;
      padding: 40px 0 0 0;
    }

    .login-wrapper{
      padding: 25px;
      background: white;
      -webkit-box-shadow: 5px 5px 25px -8px #000000;
      -moz-box-shadow: 5px 5px 25px -8px #000000;
      box-shadow: 5px 5px 25px -8px #000000;

      h3 {
        text-align: center;
        font-size: 2em;
        margin: 0 0 25px 0;
      }
    }
  }

  nav.navbar{
    .navbar-custom-menu{
      float:right;
    }
    .navbar-nav{
      li {
        float: left;
      }
    }
  }

  .alert.alert-error {
    background: $color-red;
    color: white;
  }

  header.main-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    position: relative;
    z-index: 1000;

    a.logo {
      width: 220px;
      text-align: left;
      padding: 10px;

      .logo-holder{
      }

      .authortext{
        font-size: 1.2em;
        padding-left: 10px;
      }

      img {
        height: 30px;
        max-height: 30px;
      }
    }

    .navbar {
      background: $color-primary;
      flex-basis: -webkit-calc(100% - 220px);
      flex-basis:    -moz-calc(100% - 220px);
      flex-basis:         calc(100% - 220px);
      padding:0;
      line-height: 50px;

      .sidebar-toggle{
        float:left;
        width: 50px;
        height: 50px;
      }

      .navi {
        float: right;
        height: 50px;
        text-align: right;

        ul{
          margin:0;
          padding: 0;
          height: 50px;
          list-style: none;
          width: 100%;
          display: block;
        }

        & > ul > li {
          list-style: none;
          color: white;
          height: 50px;
          line-height: 50px;
          display: inline-block;
          *display: inline;
          zoom: 1;
          vertical-align: middle;

          &.toggler{
            float: left;
          }

          &.quicknav{
            float: right;
          }

          a{
            color: white;
            height: 50px;
            line-height: 50px;
          }
        }

        ul.quicknav{
          li{
            list-style: none;
            float: left;list-style: none;
            color: white;
            height: 50px;
            line-height: 50px;
            display: inline-block;
            *display: inline;
            zoom: 1;
            vertical-align: middle;

            a{
              display: block;
              padding: 0 15px;

              &:hover{
                background: darken($color-primary, 20%);
              }
            }

            &.logout {
              border-left: 1px solid lighten($color-primary, 10%);
              a:hover{
                background: $color-red;
              }
            }
          }
        }
      }

      .sidebar-toggle{
        color: white;
        line-height: 50px;
        i{
          width: 50px;
          color: white;
          font-size:28px;
          line-height: 50px;
          text-align: center;
        }
      }
    }
  }

  aside.main-sidebar{
    width: 220px;
    background: $color-grey;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;

    section.menu {
      overflow: auto;
      height: 100%;
      ul, li {
        list-style: none;
        margin: 0;
        left: 0;

        .notify{
          display: none;
          background: $color-red;
          color: white;
          text-align: center;
          line-height: 1;
          padding: 0;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 0.66em;
          -webkit-box-shadow: 1px 1px 4px -1px #000;
          -moz-box-shadow: 1px 1px 4px -1px #000;
          box-shadow: 1px 1px 4px -1px #000;
        }

        a{
          display: block;
          color: white;
          text-transform: uppercase;
          padding: 10px;
          border-bottom: 1px solid lighten($color-grey, 5%);
          position: relative;

          i{
            padding-left: 9px;
            padding-right: 8px;
          }
        }
      }
      li a:hover {
        background: darken($color-grey, 5%);
        text-decoration: none;
      }

      li.active a {
        background: $color-primary-light;
      }

      li.basehead{
        background: darken($color-grey, 10%);
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 0.9em;
        color: lighten($color-grey, 40%);
        text-shadow: none;
      }

      li.sub {
        a{
          font-size: 0.85em;
          text-transform: none;
          background: darken($color-grey, 10%);
          border-bottom: 1px solid lighten($color-grey, 5%);
          color: #c3c3c3;

          &:hover{
            background: darken($color-grey, 15%);
          }
        }

        &.active {
          border-left: 5px solid $color-primary-light;
          a {
            background: darken($color-grey, 15%);
            color: white;
          }
        }
      }
    }
  }

  .content-wrapper{
    margin-left: 220px;
    padding: 15px;

    h1 {
      color: black;
      font-weight: bold;
      margin: 10px 0 25px 0;

      strong{
        color: $color-primary-light;
      }

      a.backurl {
        background-color: white;
        border: 1px solid #d7d7d7;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        display: block;
        float: left;
        border-radius: 5px;
        color: #6b6b6b;
        margin: 6px 10px 0px 0;
      }
    }

    .box{
      position: relative;
      background: white;
      padding: 15px;
      margin: 0 0 25px 0;
      border: 1px solid #dadada;
      -webkit-box-shadow: 6px 6px 20px -10px #959595;
      -moz-box-shadow: 6px 6px 20px -10px #959595;
      box-shadow: 6px 6px 20px -10px #959595;
      @include border-radius(3px);

      .remove-filter{
        border: 1px solid lighten($color-red, 30%);
        padding: 6px;
        font-size: 0.8em;
        line-height: 1;
        @include border-radius(20px);
        color: lighten($color-red, 10%);
        text-decoration: none;
        &:hover{
          background: $color-red;
          color: white;
        }
      }

      h3 {
        font-size: 1.7em;
        color: $color-primary-light;
      }

      h3 + .subtitle{
        color: #9c9c9c;
      }

      .page-infos {
        position: absolute;
        right: 15px;
        top: 15px;
      }

      .data{
        margin: 15px;

        .row.row-head {
          & > div {
            border-bottom: 2px solid #aaaaaa;
            padding: 8px 15px;
            font-size: 1.1em;
          }
        }

        .row.row-search {
          background: #dcdcdc;

          input[type=text],
          select {
            padding: 6px;
            font-size: 0.9em;
            color: $color-primary-light;
          }

          select option {
            text-align: center;
          }
        }

        .row:not(.row-head){
          padding: 10px 0;
        }

        .row.lie:not(.row-head):not(.row-search):nth-child(even){
          background: #f1f1f1;
        }

        label {
          font-size: 1.15em;
        }
      }

      input + .comment,
      select + .comment,
      textarea + .comment {
        color: #898989;
        font-size: 0.9em;
        line-height: 1.3;
        margin-top: 5px;
      }

      &.editor {
        border: 5px solid $color-primary-light;
      }
      &.delete {
        border: 5px solid $color-red;
      }
    }
  }

  &.sidebar-toggled{
    aside.main-sidebar,
    header.main-header a.logo{
      width: 50px;
      overflow: hidden;
    }
    header.main-header a.logo .authortext{
      display: none;
    }
    header.main-header .navbar{
      flex-basis: calc(100% - 50px);
    }
    .content-wrapper{
      margin-left: 50px;
    }
    aside.main-sidebar section.menu li a .text {
      display: none;
    }

    section.menu{
      li {
        .notify{
          position: absolute !important;
          right: 5px !important;
          top: 5px !important;
          font-size: 0.5em !important;
          width: 18px !important;
          height: 18px !important;
          line-height: 18px !important;
          pointer-events: none  !important;
        }
      }
    }
  }

  #pagepreloader{
    background: $color-grey;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    .loadwrapper{
      color: white;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      font-size: 1.4em;
      font-weight: 100;
      text-align: center;

      i{
        color: $color-primary-light;
        font-size: 42px;
      }
    }
  }

  .home{

    .text-red{
      color: $color-red;
    }

    .text-orange{
      color: orange;
    }

    .text-darkorange{
      color: #ff5f5f;
    }

    .text-green{
      color: $color-primary-light;
    }

    h2 {
      text-align: center;
      font-size: 2em;
      font-weight: 300;
      margin: 10px 0 25px 0;
    }

    .box{
      &.bordered{
        border-top-width: 4px;
        border-top-color: #888;

        &.border-orange{
          border-top-color: orange;
        }
        &.border-darkorange{
          border-top-color: #ff5f5f;
        }
        &.border-green{
          border-top-color:$color-primary-light;
        }
      }
      .n{
        font-size: 2.4em;
        font-weight: bold;
      }
      .splitted{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;

        & > div {
          flex-basis: 50%;
          align-items: center;
        }

        & > div:first-child{
          border-right: 1px solid #f1f1f1;
        }
      }
      .centered{
        text-align: center;
      }

      .primary{
        font-size: 1.2em;
        .n{
          line-height: 1;
          margin-bottom: 10px;
        }
        .t{
          line-height: 1.2;
          color: #888888;
        }

        &.with-link{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          & > div {
            flex-basis: calc(100% - 30px);
          }
          .a{
            text-align: right;
            flex-basis: 30px;

            a{
              display: block;
              font-size: 24px;
              color: #d2d2d2;
              line-height: 1;
              margin: 0;
              padding: 0;
              i{
                margin: 0;
                padding: 0;
              }

              &:hover{
                color: $color-primary-light;
              }
            }
          }
        }
      }
    }
  }
}


.actions {
  a {
    padding: 0 4px;
    font-size: 13px;
  }
  i[class*=fa-pencil] {
    color: $color-primary-light !important;
  }
  i[class*=fa-trash] {
    color: $color-red !important;
  }
}

.btn.btn-danger{
  color: white;
}

input[type=checkbox].ccb + label:before{
  color: lighten($color-grey, 40%) !important;
  font-size: 20px !important;

}
input[type=checkbox].ccb + label{
  font-size: 1.4em !important;
  padding-left: 24px !important;
}
input[type=checkbox].ccb:checked + label:before{
  color: $color-primary-light !important;
}

.input-group-addon a {
  color: black;
}

.menu-list{
  .mi {
    background: #f3f3f3;
    margin: 5px 0;
    padding: 10px;
    .title {
      font-size: 1.3em;
      color: black;
    }
    .position {
      color: $color-red;
      font-weight: bold;
      letter-spacing: 0;
      margin-right: 5px;
      text-transform: uppercase;
    }
    &.deep1{
      margin-left: 10px;
      border-left: 2px solid #aaaaaa;
    }
    &.deep2{
      margin-left: 20px;
      border-left: 4px solid #aaaaaa;
    }
    &.deep3{
      margin-left: 30px;
      border-left: 8px solid #aaaaaa;
    }
  }
}


.filters{
  margin: 0 0 15px 0;

  form{
    .row{
      align-items: flex-end;
      label {
        font-size: 0.8em;
      }
      input{
        padding: 0 5px;
        line-height: 28px;
        height: 28px;
        font-size: 0.9em;
      }
    }
  }
  fieldset{
    position: relative;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #e2e2e2;
    legend{
      border: 1px solid #e2e2e2;
      border-bottom: none;
      text-transform: none;
      font-size: 0.9em;
      padding: 5px 10px 2px 10px;
      line-height: 1;
      margin: 0;
      position: absolute;
      top: -18px;
      left: 10px;
      background: #ffffff;
      width: auto;
    }
  }
  ul, li {
    list-style: none;
    margin:0;
    padding: 0;
  }

  ul {
    li {
      padding-right: 8px;
      display: inline-block;
      *display: inline;
      zoom: 1;

      a.btn {
        position: relative;
        color: #222222;
        font-size: 0.9em;

        i {
          margin-left: 3px;
        }

        &.btn-success{
          color: white;
        }
      }

      &.hl{
        a{
          border-right-width:3px;
          border-style: solid;
          border-right-color: #444;
        }

        &.hl-red{
          a{
            border-right-color: red;
          }
        }
        &.hl-orange{
          a{
            border-right-color: orange;
          }
        }
        &.hl-green{
          a{
            border-right-color: $color-primary-light;
          }
        }
      }
      &.sep{
        color: #eaeaea;
        padding: 0 10px 0 0;
      }
    }
  }
}

.allas-requests,
.user-request
{
  .item-status{
    font-size: 1.2em;
    margin-bottom: 10px;
    .total{
      color: black;
      margin-right: 10px;
    }
    .accepted{
      color: $color-primary-light;
      margin: 0 5px;
    }
    .finished{
      color: #3c9d4e;
      margin: 0 5px;
    }
    .unaccepted{
      color: orange;
      margin: 0 5px;
    }
    .declined{
      color: red;
      margin: 0 5px;
    }
  }
  a.backurl{
    color: #ffffff;
    margin-bottom: 10px;
    background: #9a9a9a;
  }
  .no-result {
    text-align: center;
    font-size: 1.34em;
    color: #acacac;
    margin: 25px 0;

    h3{
      color: #333333;
    }

    i {
      font-size: 48px;
      color: $color-primary-light;
      margin-bottom: 10px;
    }
  }
  .alert{
    i {
      font-size: 13px;
    }

    a{
      color: white;
      text-decoration: underline;
      margin-left: 8px;
    }
  }
  .allas{
    background: #ffffff;
    margin: 5px 0;
    border: 2px solid #d2d2d2;

    .header {
      padding: 10px;
      font-size: 1.2em;
      background: #eaeaea;
      border-bottom: 1px solid #d1d1d1;
      color: #454545;

      .author-info{
        font-size: 0.9em;
        margin-bottom: 4px;
        border-bottom: 1px solid #d2d2d2;
        padding: 0 0 8px 0;
        margin: 0 0 5px 0;

        & > span {
          margin-right: 5px;

          strong {
            color: #333333;
          }
        }

        .by {
          color: white;
          padding: 3px;
          font-size: 0.8em;
          text-transform: uppercase;

          &.by-user{
            background: orange;
          }

          &.by-admin {
            background: $color-red;
          }
        }
      }

      .desc{
        font-size: 1.1em;
        color: black;

        a{
          color: black;
          font-style: italic;
          text-decoration: underline;
        }
      }

      .ads-data{
        font-size: 0.9em;
        margin-top: 5px;

        span {
          margin: 0 5px;
        }
        .edit a{
          font-size: 0.7em;
          background: #888888;
          color: white;
          padding: 2px 4px;
          @include border-radius(4px);
        }
      }

      .contact {
        background: #dbdbdb;
        padding: 5px 8px;
        font-size: 0.9em;
        margin-top: 10px;
        color: #444444;
        position: relative;

        &:before {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          border-style: solid;
          border-width: 10px;
          border-color: transparent transparent  #dbdbdb transparent;
          top: -20px;
          left: 15px;
          pointer-events: none;
        }

        span {
          padding: 0 8px 0 0; margin: 0 5px 0 0;
          border-right: 1px solid #acacac;

          i {
            margin-right: 2px;
          }
        }

        & > span:last-child{
          border-right: none;
        }
      }
    }

    .requests{
      .info{
        text-align: center;
        text-transform: uppercase;
        padding: 4px;
        font-size: 0.8em;
        color: white;
        background: #669d73;

        a{
          color: darken(white, 10%);
          margin-left: 15px;
        }

        &.status-hasnotaccept{
          background: #ffa34d;
        }
      }
      .request{
        display: none;
        font-size: 1.1em;
        padding: 9px;
        border-bottom: 1px solid #f1f1f1;

        .status{
          flex-basis: 30px;
          text-align: center;

          i {
            font-size: 18px;
          }
        }

        .actions{
          flex-basis: 30%;
          text-align: right;

          .btn {
            font-size: 0.8em;
            padding: 4px;
          }

          .picker{
            color: $color-red;
            &.done {
              color: $color-primary-light;
            }
          }
        }

        .text {
          flex-basis: calc(100% - 30% - 30px);
        }

        .contact {
          flex-basis: 100%;

          .contact-info {
            background: #f3f3f3;
            padding: 4px 0;
            font-size: 0.9em;
            margin-top: 5px;
            margin-left: 30px;
            @include border-radius(5px);
            color: #888888;
            position: relative;

            &:before {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              border-style: solid;
              border-width: 10px;
              border-color: transparent transparent  #f3f3f3 transparent;
              top: -20px;
              left: 15px;
              pointer-events: none;
            }

            span {
              padding: 4px 8px 4px 4px;
              margin: 0 5px 0 0;
              border-right: 1px solid #acacac;


              i {
                margin-right: 2px;
              }
            }

            & > span.messanger {
              float: right;
              margin: 0;
              padding: 0;

              a{
                padding: 4px 6px;
                font-size: 0.9em;
                -moz-border-radius: 0 5px 5px 0;
                -webkit-border-radius: 0 5px 5px 0;
                border-radius: 0 5px 5px 0;
              }

              a.session{
                background: $color-primary-light;
                color: white;
              }

              a.creating{
                background: $color-grey;
                color: white;
              }
            }

            & > span:last-child{
              border-right: none;
            }
          }
        }

        .request-actions{
          flex-basis: 100%;
          padding: 10px 0;
          padding: 10px 0;
          text-align: right;

          a{
            font-size: 0.95em;
          }
        }

        &.status-allowed{
          .status i{
            color: $color-primary-light;
          }
        }
        &.status-unallowed{
          .status i{
            color: orange;
          }
        }
        &.status-declined{
          opacity: 0.6;
          filter: alpha(opacity=60);
          .status i{
            color: red;
          }
        }

        &.opened{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    &.focus{
      opacity: 1;
      filter: alpha(opacity=100);
      border: 5px solid $color-primary-light;
      -webkit-box-shadow: 0 10px 45px -10px black;
      -moz-box-shadow: 0 10px 45px -10px black;
      box-shadow: 0 10px 45px -10px black;
    }
    &.defocus{
      opacity: 0.4;
      filter: alpha(opacity=40);

      &:hover{
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }

  }
}

.user-request{
  .applied-filters{
    padding: 20px 0;
    span {
      background: $color-primary-light;
      padding: 8px;
      margin: 4px;
      border-radius: 8px;
      color: white;
    }
  }
  .requests{
    .user{
      border-left-width: 50px;
      border-left-style: solid;
      border-left-color: #f3f3f3;
      position: relative;
      .status-ico{
        position: absolute;
        top: 50%;
        left: -33px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        i {
          font-size: 23px;
        }
      }
      &.status-unallowed{
        border-left-color: orange;
        i{
          color: white;
        }
      }
      &.status-allowed{
        border-left-color: $color-primary-light;
        i{
          color: white;
        }
      }
      &.status-declined{
        border-left-color: #f1081f;
        i{
          color: white;
        }
      }
      & > .wrapper{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .profilimg{
          flex-basis: 80px;
          width: 80px;
          height: 80px;
          position: relative;
          overflow: hidden;
          -webkit-border-radius: 80px;
          -moz-border-radius: 80px;
          border-radius: 80px;
          background: white;
          border-width: 3px;
          border-style: solid;
          border-color: #adbeb0;

          img {
            position: absolute;
            max-height: 110%;
            height: 110%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .dataset{
          flex-basis: calc(100% - 50% - 80px);
          padding: 0 0 0 10px;
          line-height: 1.7;

          .subline{
            font-size: 0.85em;

            & > span {
              margin-right: 8px;

              a{
                color: $color-red;
              }
            }
          }

          .name {
            font-size: 1.2em;
            a{
              color: black;
              font-weight: bold;
            }
          }

          .szakma{
            color: #a2a2a2;
            line-height: 1.2;
            margin-bottom: 4px;
            font-style: italic;
          }
        }

        .status {
          flex-basis: 50%;
          font-size: 0.9em;
          line-height: 1.4;
          text-align: left;

          .user-decide{
            .accept{
              color: $color-primary-light;
            }
            .inprogress{
              color: orange;
            }
            .declined{
              color: $color-red;
            }
          }
          .access-granted{
            .yes{
                color: $color-primary-light;
            }
            .no{
              color: $color-red;
            }
          }
        }

        .comment{
          font-weight: bold;

          .title{
            font-weight: 400;
          }

          .b{
            font-size: 0.8em;
            a{
              display: block;
              background: #eaeaea;
              color: #444444;
              padding: 5px 7px;
              border-radius: 4px;
              margin: 5px 0;
              float: left;
              line-height: 1;

              i{
                font-size: 8px;
              }
            }
          }
        }
      }

      // Férfi
      &.gender16{
        & > .wrapper{
          .profilimg {
            border-color: #89c7eb;
          }
        }
      }
      // Nő
      &.gender17{
        & > .wrapper{
          .profilimg {
            border-color: #f3b1df;
          }
        }
      }
    }
  }
}

.request-action-panel{
  border-width: 5px;
  border-style: solid;
  color: white;
  margin: 5px 0 10px 0;

  h2 {
    font-size: 1.8em;
    margin-bottom: 12px;
  }

  .info {
    text-align: center;
    padding: 20px;
    line-height: 1.4;
  }

  &.panel-decline{
    background: $color-red;
    border-color: $color-red;
  }

  &.panel-allower{
    background: $color-primary-light;
    border-color: $color-primary-light;
  }

  .buttons{
    text-align: center;
    padding: 20px;
    background: $color-grey;

    .options{
      label{
        font-size: 1em !important;
        font-weight: normal !important;
        margin-bottom: 0 !important;
        vertical-align: top;
        line-height: 1.2;
      }
    }
  }
}

.messanger{
  .wrapper{
    .message-list{
      .message-session{
        .group-head{
          .session-start{
            .from_admin{
              color: $color-red;
            }
          }
        }
        .allas-spot{
          padding: 3px;

          a{
            margin-bottom: 4px;
            display: block;
          }
        }
      }
    }
    .messanger-reader{
      .header{
        padding: 0 0 20px 0;
        .allas-spot{
          background: #ffffff;
          border: 2px dashed #dbdbdb;
          padding: 8px 4px;
        }
        .user-spot{
          background: #ffffff;
          padding: 8px 4px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          border: 2px dashed #dbdbdb;
          align-items: center;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-top: 8px;

          .ico{
            flex-basis: 50px;
            text-align: center;
            font-size: 38px;
            color: black;
          }
        }
      }
    }

    nav{
      ul {
        li{
          a{
            background: #c3c3c3;
            color: #6d6d6d;
          }
          &.active{
            a{
              background:#f3f3f3;
            }
          }
        }
      }
    }
  }
}

.evt-grp{
  margin: 4px 0;
  span {
    margin-right: 5px;
    font-size: 0.9em;

    i{
      color: #555555;
      font-size: 10px;
    }

    a {
      color: $color-primary-light;
    }
  }
}

.nav-container{
  text-align: center;
}

ul.pagination{
  margin: 10px 0;
  justify-content: center;

  li {
    list-style: none;
  }
}
.page-item.active .page-link{
  background-color: $color-primary-light;
  border-color: darken($color-primary-light, 10%);
}


table.table{
  font-size: 0.85em;
}
