AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^kapcsolat$ index.php?tag=p/kapcsolat [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^rolunk$ index.php?tag=p/rolunk [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^aszf$ index.php?tag=p/aszf [QSA,L]

# Admin - Tematikus lista rewrite
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^cp/cat/(edit|del)?(/)?(.+)?$ index.php?tag=cp/terms&mod=$1&id=$3 [NC,QSA,L]

# Admin - User edit/del/create
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^cp/users/(edit|create|del)(/)?(\d)?(/)?$ index.php?tag=cp/users&sub=$1&id=$3 [NC,QSA,L]

# Admin - Users
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^cp/users(/)?(\d)?(/)?$ index.php?tag=cp/users&page=$2 [NC,QSA,L]

# Users
# Reg
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(regisztracio|belepes)(/)?(.+)?(/)?$ index.php?tag=user/$1&as=$3 [NC,QSA,L]

# Aktiválás
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^activate/(.+)$ index.php?tag=activate/reg/&key=$1 [NC,QSA,L]

# Jelszó generálás
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^elfelejtett-jelszo(/)?$ index.php?tag=resetpassword [NC,QSA,L]

# Ügyfélkapu üzenetek
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ugyfelkapu/uzenetek/(inbox|outbox|archiv|msg)(/)?(.+)?$ index.php?tag=user/ugyfelkapu&p=uzenetek&sub=$1&msgid=$3 [NC,QSA,L]

# Ügyfélkapu profil
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ugyfelkapu/profil/([a-z]*)(/)?$ index.php?tag=user/ugyfelkapu&p=profil&sub=$1 [NC,QSA,L]

# Ügyfélkapu - Hirdetés szerkesztése
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ugyfelkapu/hirdetesek/mod/([0-9]+)$ index.php?tag=user/ugyfelkapu&p=uj-hirdetesek&modid=$1 [NC,QSA,L]

# Ügyfélkapu
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ugyfelkapu(/)?(.+)?(/)?$ index.php?tag=user/ugyfelkapu&p=$2 [NC,QSA,L]

# Állás lista
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^allasok(/)?([0-9]+)?(/)?$ index.php?tag=allasok_lista&page=$2 [NC,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?tag=$1 [QSA,L]

<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>
