/* FONTS */
/* COLORS */
/* line 3, scss/media.scss */
body, html {
  background: #efefef;
  color: #454545; }

/* line 8, scss/media.scss */
body.profil-view {
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05em;
  height: auto; }
  /* line 14, scss/media.scss */
  body.profil-view header {
    background: transparent;
    padding: 10px 0; }
    /* line 18, scss/media.scss */
    body.profil-view header .hwrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      /* line 24, scss/media.scss */
      body.profil-view header .hwrapper .action-buttons {
        flex-basis: 30%;
        text-align: right; }
        /* line 27, scss/media.scss */
        body.profil-view header .hwrapper .action-buttons a {
          color: #222222;
          margin: 0 5px;
          font-size: 14px; }
      /* line 33, scss/media.scss */
      body.profil-view header .hwrapper .company-copy {
        text-align: left;
        flex-basis: 70%; }
        /* line 37, scss/media.scss */
        body.profil-view header .hwrapper .company-copy img.logo {
          height: 45px;
          max-height: 45px; }
  /* line 45, scss/media.scss */
  body.profil-view .cv-title {
    padding: 10px 0 25px 0;
    text-align: center; }
    /* line 48, scss/media.scss */
    body.profil-view .cv-title h1 {
      color: black;
      font-size: 2em; }
  /* line 54, scss/media.scss */
  body.profil-view .inside {
    background: #ffffff;
    padding: 25px;
    margin: 15px auto;
    -webkit-box-shadow: 5px 5px 20px -7px black;
    -moz-box-shadow: 5px 5px 20px -7px black;
    box-shadow: 5px 5px 20px -7px black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    /* line 65, scss/media.scss */
    body.profil-view .inside a {
      color: #64b67c;
      text-decoration: none; }
    /* line 70, scss/media.scss */
    body.profil-view .inside a:hover {
      color: #39ac4f; }
    /* line 74, scss/media.scss */
    body.profil-view .inside a:visited {
      color: #e98c95; }
    /* line 78, scss/media.scss */
    body.profil-view .inside .footer-copy {
      font-size: 0.8em;
      text-align: center;
      background: #707070;
      margin: 20px -25px -25px -25px;
      padding: 15px;
      color: #b6b6b6; }
      /* line 86, scss/media.scss */
      body.profil-view .inside .footer-copy .url {
        color: white; }
  /* line 91, scss/media.scss */
  body.profil-view .name-pop {
    font-size: 2em;
    font-weight: bold;
    color: #39ac4f !important; }
    /* line 96, scss/media.scss */
    body.profil-view .name-pop .szakma_text {
      font-size: 0.6em;
      color: #999999;
      font-style: italic;
      font-weight: 300; }
  /* line 105, scss/media.scss */
  body.profil-view .documents a {
    display: block; }
  /* line 110, scss/media.scss */
  body.profil-view .cv-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center; }
    /* line 118, scss/media.scss */
    body.profil-view .cv-row .data-title {
      margin: 20px 0 10px 0; }
    /* line 122, scss/media.scss */
    body.profil-view .cv-row.cv-a-top {
      align-items: flex-start; }
    /* line 126, scss/media.scss */
    body.profil-view .cv-row > div.c8 {
      flex-basis: 80%; }
    /* line 129, scss/media.scss */
    body.profil-view .cv-row > div.c7 {
      flex-basis: 70%; }
    /* line 132, scss/media.scss */
    body.profil-view .cv-row > div.c5 {
      flex-basis: 50%; }
    /* line 135, scss/media.scss */
    body.profil-view .cv-row > div.c3 {
      flex-basis: 30%; }
    /* line 138, scss/media.scss */
    body.profil-view .cv-row > div.c2 {
      flex-basis: 20%; }
    /* line 142, scss/media.scss */
    body.profil-view .cv-row > div.label {
      flex-basis: 150px;
      text-align: right;
      color: #777777;
      font-weight: 300;
      padding: 5px;
      font-size: 0.65em;
      text-transform: uppercase; }
    /* line 151, scss/media.scss */
    body.profil-view .cv-row > div.value {
      text-align: left;
      font-weight: bold;
      color: black;
      padding: 5px 5px 5px 25px !important;
      flex-basis: calc(100% - 150px); }
  /* line 161, scss/media.scss */
  body.profil-view .profil-img img {
    max-width: 100%;
    width: 100%; }

/* line 168, scss/media.scss */
.data-group {
  margin: 20px 0; }
  /* line 171, scss/media.scss */
  .data-group .cv-title {
    text-align: left !important;
    border-top: 2px solid #e2e2e2;
    padding: 20px 0 30px 0 !important; }
    /* line 176, scss/media.scss */
    .data-group .cv-title h2 {
      font-size: 1.25em !important;
      color: #39ac4f !important; }

/* line 183, scss/media.scss */
.sub-group {
  margin-bottom: 20px; }
  /* line 185, scss/media.scss */
  .sub-group .title {
    padding-right: 30px; }
    /* line 187, scss/media.scss */
    .sub-group .title .t {
      background: #9e9e9e;
      color: white;
      font-size: 0.8em;
      padding: 5px 10px;
      text-transform: uppercase;
      position: relative; }

/* line 198, scss/media.scss */
.simple-list-item {
  background: #e7e7e7;
  padding: 8px 12px;
  line-height: 1;
  margin: 4px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: black;
  border-radius: 20px;
  font-size: 0.8em; }

/* line 211, scss/media.scss */
.modul-groups {
  margin-bottom: 10px;
  font-size: 0.95em;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px; }
  /* line 217, scss/media.scss */
  .modul-groups > div.cv-row:first-child * {
    color: #39ac4f !important; }
  /* line 220, scss/media.scss */
  .modul-groups > div > .label {
    padding: 2px !important; }
  /* line 223, scss/media.scss */
  .modul-groups > div > .value {
    padding: 2px 2px 2px 10px !important; }

/* line 229, scss/media.scss */
.cv-col .modul-groups:last-child {
  border-bottom: none !important; }

/* line 235, scss/media.scss */
.socials a.social {
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin: 0 5px;
  background: #444444;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: white !important; }
  /* line 248, scss/media.scss */
  .socials a.social.social-twitter {
    background: #02d0ff; }
  /* line 252, scss/media.scss */
  .socials a.social.social-facebook {
    background: #3b5998; }
  /* line 256, scss/media.scss */
  .socials a.social.social-linkedin {
    background: #4099C8; }

/* line 262, scss/media.scss */
.show-on-print {
  display: none; }
