/* FONTS */
/* COLORS */
/* line 3, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body, html {
  background: #efefef;
  color: #454545;
}

/* line 8, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view {
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05em;
  height: auto;
}

/* line 14, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view header {
  background: transparent;
  padding: 10px 0;
}

/* line 18, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view header .hwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

/* line 24, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view header .hwrapper .action-buttons {
  flex-basis: 50%;
  text-align: right;
}

/* line 27, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view header .hwrapper .action-buttons a {
  color: #222222;
  margin: 0 5px;
  font-size: 14px;
}

/* line 33, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view header .hwrapper .company-copy {
  text-align: left;
  flex-basis: 50%;
}

/* line 37, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view header .hwrapper .company-copy img.logo {
  height: 45px;
  max-height: 45px;
}

/* line 45, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-title {
  padding: 10px 0;
  text-align: center;
}

/* line 48, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-title h1 {
  text-transform: uppercase;
  color: black;
}

/* line 54, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .inside {
  background: #ffffff;
  padding: 25px;
}

/* line 58, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .name-pop {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #39ac4f !important;
}

/* line 64, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

/* line 72, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row .data-title {
  margin: 20px 0 10px 0;
}

/* line 76, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row.cv-a-top {
  align-items: flex-start;
}

/* line 80, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.c8 {
  flex-basis: 80%;
}

/* line 83, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.c7 {
  flex-basis: 70%;
}

/* line 86, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.c5 {
  flex-basis: 50%;
}

/* line 89, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.c3 {
  flex-basis: 30%;
}

/* line 92, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.c2 {
  flex-basis: 20%;
}

/* line 96, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.label {
  flex-basis: 120px;
  text-align: right;
  color: #777777;
  font-weight: 300;
  padding: 5px;
  font-size: 0.65em;
  text-transform: uppercase;
}

/* line 105, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .cv-row > div.value {
  text-align: left;
  font-weight: bold;
  color: black;
  padding: 5px 5px 5px 25px;
  flex-basis: calc(100% - 120px);
}

/* line 115, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
body.profil-view .profil-img img {
  max-width: 100%;
  width: 100%;
}

/* line 122, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.data-group {
  margin: 20px 0;
}

/* line 125, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.data-group .cv-title {
  text-align: left !important;
  border-top: 2px solid #e2e2e2;
  padding: 15px 0 !important;
}

/* line 130, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.data-group .cv-title h2 {
  font-size: 1.15em !important;
  color: black !important;
}

/* line 138, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.socials a.social {
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin: 0 5px;
  background: #444444;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: white;
}

/* line 151, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.socials a.social.social-twitter {
  background: #02d0ff;
}

/* line 155, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.socials a.social.social-facebook {
  background: #3b5998;
}

/* line 159, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.socials a.social.social-linkedin {
  background: #4099C8;
}

/* line 165, /Users/MolnarIstvan/Documents/Munka/Flextimeresort/git/ftrkft/flextimeresort/application/views/v1.0/onlinecv/assets/css/scss/media.scss */
.show-on-print {
  display: none;
}

/*# sourceMappingURL=../media.map */
