/* FONTS */
/* COLORS */
/* line 3, scss/media.scss */
body, html {
  position: relative;
  height: 100%;
}

/* line 8, scss/media.scss */
body.admin {
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
}
/* line 15, scss/media.scss */
body.admin .row.np {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
/* line 20, scss/media.scss */
body.admin.login-page {
  background: #4e4e4e;
}
/* line 24, scss/media.scss */
body.admin #login {
  margin: 10% auto;
  width: 550px;
}
/* line 28, scss/media.scss */
body.admin #login .input-group-addon {
  width: 38px;
  text-align: center;
}
/* line 33, scss/media.scss */
body.admin #login .logologin {
  margin: 0 0 40px 0;
  text-align: center;
}
/* line 37, scss/media.scss */
body.admin #login .logologin img {
  max-width: 80%;
}
/* line 42, scss/media.scss */
body.admin #login .copyright {
  color: #8e8e8e;
  text-align: center;
  padding: 40px 0 0 0;
}
/* line 48, scss/media.scss */
body.admin #login .login-wrapper {
  padding: 25px;
  background: white;
  -webkit-box-shadow: 5px 5px 25px -8px black;
  -moz-box-shadow: 5px 5px 25px -8px black;
  box-shadow: 5px 5px 25px -8px black;
}
/* line 55, scss/media.scss */
body.admin #login .login-wrapper h3 {
  text-align: center;
  font-size: 2em;
  margin: 0 0 25px 0;
}
/* line 64, scss/media.scss */
body.admin nav.navbar .navbar-custom-menu {
  float: right;
}
/* line 68, scss/media.scss */
body.admin nav.navbar .navbar-nav li {
  float: left;
}
/* line 74, scss/media.scss */
body.admin .alert.alert-error {
  background: #f44e5e;
  color: white;
}
/* line 79, scss/media.scss */
body.admin header.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  position: relative;
  z-index: 1000;
}
/* line 90, scss/media.scss */
body.admin header.main-header a.logo {
  width: 220px;
  text-align: left;
  padding: 10px;
}
/* line 98, scss/media.scss */
body.admin header.main-header a.logo .authortext {
  font-size: 1.2em;
  padding-left: 10px;
}
/* line 103, scss/media.scss */
body.admin header.main-header a.logo img {
  height: 30px;
  max-height: 30px;
}
/* line 109, scss/media.scss */
body.admin header.main-header .navbar {
  background: #006534;
  flex-basis: -webkit-calc(100% - 220px);
  flex-basis: -moz-calc(100% - 220px);
  flex-basis: calc(100% - 220px);
  padding: 0;
  line-height: 50px;
}
/* line 117, scss/media.scss */
body.admin header.main-header .navbar .sidebar-toggle {
  float: left;
  width: 50px;
  height: 50px;
}
/* line 123, scss/media.scss */
body.admin header.main-header .navbar .navi {
  float: right;
  height: 50px;
  text-align: right;
}
/* line 128, scss/media.scss */
body.admin header.main-header .navbar .navi ul {
  margin: 0;
  padding: 0;
  height: 50px;
  list-style: none;
  width: 100%;
  display: block;
}
/* line 137, scss/media.scss */
body.admin header.main-header .navbar .navi > ul > li {
  list-style: none;
  color: white;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
/* line 147, scss/media.scss */
body.admin header.main-header .navbar .navi > ul > li.toggler {
  float: left;
}
/* line 151, scss/media.scss */
body.admin header.main-header .navbar .navi > ul > li.quicknav {
  float: right;
}
/* line 155, scss/media.scss */
body.admin header.main-header .navbar .navi > ul > li a {
  color: white;
  height: 50px;
  line-height: 50px;
}
/* line 163, scss/media.scss */
body.admin header.main-header .navbar .navi ul.quicknav li {
  list-style: none;
  float: left;
  list-style: none;
  color: white;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
/* line 174, scss/media.scss */
body.admin header.main-header .navbar .navi ul.quicknav li a {
  display: block;
  padding: 0 15px;
}
/* line 178, scss/media.scss */
body.admin header.main-header .navbar .navi ul.quicknav li a:hover {
  background: black;
}
/* line 183, scss/media.scss */
body.admin header.main-header .navbar .navi ul.quicknav li.logout {
  border-left: 1px solid #00984e;
}
/* line 185, scss/media.scss */
body.admin header.main-header .navbar .navi ul.quicknav li.logout a:hover {
  background: #f44e5e;
}
/* line 193, scss/media.scss */
body.admin header.main-header .navbar .sidebar-toggle {
  color: white;
  line-height: 50px;
}
/* line 196, scss/media.scss */
body.admin header.main-header .navbar .sidebar-toggle i {
  width: 50px;
  color: white;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
}
/* line 207, scss/media.scss */
body.admin aside.main-sidebar {
  width: 220px;
  background: #5b5b5b;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}
/* line 215, scss/media.scss */
body.admin aside.main-sidebar section.menu {
  overflow: auto;
  height: 100%;
}
/* line 218, scss/media.scss */
body.admin aside.main-sidebar section.menu ul, body.admin aside.main-sidebar section.menu li {
  list-style: none;
  margin: 0;
  left: 0;
}
/* line 223, scss/media.scss */
body.admin aside.main-sidebar section.menu ul .notify, body.admin aside.main-sidebar section.menu li .notify {
  display: none;
  background: #f44e5e;
  color: white;
  text-align: center;
  line-height: 1;
  padding: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0.66em;
  -webkit-box-shadow: 1px 1px 4px -1px black;
  -moz-box-shadow: 1px 1px 4px -1px black;
  box-shadow: 1px 1px 4px -1px black;
}
/* line 242, scss/media.scss */
body.admin aside.main-sidebar section.menu ul a, body.admin aside.main-sidebar section.menu li a {
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid #686868;
  position: relative;
}
/* line 250, scss/media.scss */
body.admin aside.main-sidebar section.menu ul a i, body.admin aside.main-sidebar section.menu li a i {
  padding-left: 9px;
  padding-right: 8px;
}
/* line 256, scss/media.scss */
body.admin aside.main-sidebar section.menu li a:hover {
  background: #4e4e4e;
  text-decoration: none;
}
/* line 261, scss/media.scss */
body.admin aside.main-sidebar section.menu li.active a {
  background: #39ac4f;
}
/* line 265, scss/media.scss */
body.admin aside.main-sidebar section.menu li.basehead {
  background: #424242;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #c1c1c1;
  text-shadow: none;
}
/* line 279, scss/media.scss */
body.admin aside.main-sidebar section.menu li.sub a {
  font-size: 0.85em;
  text-transform: none;
  background: #424242;
  border-bottom: 1px solid #686868;
  color: #c3c3c3;
}
/* line 286, scss/media.scss */
body.admin aside.main-sidebar section.menu li.sub a:hover {
  background: #353535;
}
/* line 291, scss/media.scss */
body.admin aside.main-sidebar section.menu li.sub.active {
  border-left: 5px solid #39ac4f;
}
/* line 293, scss/media.scss */
body.admin aside.main-sidebar section.menu li.sub.active a {
  background: #353535;
  color: white;
}
/* line 302, scss/media.scss */
body.admin .content-wrapper {
  margin-left: 220px;
  padding: 15px;
}
/* line 306, scss/media.scss */
body.admin .content-wrapper h1 {
  color: black;
  font-weight: bold;
  margin: 10px 0 25px 0;
}
/* line 311, scss/media.scss */
body.admin .content-wrapper h1 strong {
  color: #39ac4f;
}
/* line 315, scss/media.scss */
body.admin .content-wrapper h1 a.backurl {
  background-color: white;
  border: 1px solid #d7d7d7;
  font-size: 13px;
  padding: 0 10px;
  line-height: 30px;
  display: block;
  float: left;
  border-radius: 5px;
  color: #6b6b6b;
  margin: 6px 10px 0px 0;
}
/* line 329, scss/media.scss */
body.admin .content-wrapper .box {
  position: relative;
  background: white;
  padding: 15px;
  margin: 0 0 25px 0;
  border: 1px solid #dadada;
  -webkit-box-shadow: 6px 6px 20px -10px #959595;
  -moz-box-shadow: 6px 6px 20px -10px #959595;
  box-shadow: 6px 6px 20px -10px #959595;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 340, scss/media.scss */
body.admin .content-wrapper .box .remove-filter {
  border: 1px solid #fddee1;
  padding: 6px;
  font-size: 0.8em;
  line-height: 1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: #f77e8a;
  text-decoration: none;
}
/* line 348, scss/media.scss */
body.admin .content-wrapper .box .remove-filter:hover {
  background: #f44e5e;
  color: white;
}
/* line 354, scss/media.scss */
body.admin .content-wrapper .box h3 {
  font-size: 1.7em;
  color: #39ac4f;
}
/* line 359, scss/media.scss */
body.admin .content-wrapper .box h3 + .subtitle {
  color: #9c9c9c;
}
/* line 363, scss/media.scss */
body.admin .content-wrapper .box .page-infos {
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 369, scss/media.scss */
body.admin .content-wrapper .box .data {
  margin: 15px;
}
/* line 373, scss/media.scss */
body.admin .content-wrapper .box .data .row.row-head > div {
  border-bottom: 2px solid #aaaaaa;
  padding: 8px 15px;
  font-size: 1.1em;
}
/* line 380, scss/media.scss */
body.admin .content-wrapper .box .data .row.row-search {
  background: #dcdcdc;
}
/* line 384, scss/media.scss */
body.admin .content-wrapper .box .data .row.row-search input[type=text],
body.admin .content-wrapper .box .data .row.row-search select {
  padding: 6px;
  font-size: 0.9em;
  color: #39ac4f;
}
/* line 390, scss/media.scss */
body.admin .content-wrapper .box .data .row.row-search select option {
  text-align: center;
}
/* line 395, scss/media.scss */
body.admin .content-wrapper .box .data .row:not(.row-head) {
  padding: 10px 0;
}
/* line 399, scss/media.scss */
body.admin .content-wrapper .box .data .row.lie:not(.row-head):not(.row-search):nth-child(even) {
  background: #f1f1f1;
}
/* line 403, scss/media.scss */
body.admin .content-wrapper .box .data label {
  font-size: 1.15em;
}
/* line 410, scss/media.scss */
body.admin .content-wrapper .box input + .comment,
body.admin .content-wrapper .box select + .comment,
body.admin .content-wrapper .box textarea + .comment {
  color: #898989;
  font-size: 0.9em;
  line-height: 1.3;
  margin-top: 5px;
}
/* line 417, scss/media.scss */
body.admin .content-wrapper .box.editor {
  border: 5px solid #39ac4f;
}
/* line 420, scss/media.scss */
body.admin .content-wrapper .box.delete {
  border: 5px solid #f44e5e;
}
/* line 428, scss/media.scss */
body.admin.sidebar-toggled aside.main-sidebar,
body.admin.sidebar-toggled header.main-header a.logo {
  width: 50px;
  overflow: hidden;
}
/* line 432, scss/media.scss */
body.admin.sidebar-toggled header.main-header a.logo .authortext {
  display: none;
}
/* line 435, scss/media.scss */
body.admin.sidebar-toggled header.main-header .navbar {
  flex-basis: calc(100% - 50px);
}
/* line 438, scss/media.scss */
body.admin.sidebar-toggled .content-wrapper {
  margin-left: 50px;
}
/* line 441, scss/media.scss */
body.admin.sidebar-toggled aside.main-sidebar section.menu li a .text {
  display: none;
}
/* line 447, scss/media.scss */
body.admin.sidebar-toggled section.menu li .notify {
  position: absolute !important;
  right: 5px !important;
  top: 5px !important;
  font-size: 0.5em !important;
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
  pointer-events: none  !important;
}
/* line 461, scss/media.scss */
body.admin #pagepreloader {
  background: #5b5b5b;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
/* line 470, scss/media.scss */
body.admin #pagepreloader .loadwrapper {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
}
/* line 480, scss/media.scss */
body.admin #pagepreloader .loadwrapper i {
  color: #39ac4f;
  font-size: 42px;
}
/* line 489, scss/media.scss */
body.admin .home .text-red {
  color: #f44e5e;
}
/* line 493, scss/media.scss */
body.admin .home .text-orange {
  color: orange;
}
/* line 497, scss/media.scss */
body.admin .home .text-darkorange {
  color: #ff5f5f;
}
/* line 501, scss/media.scss */
body.admin .home .text-green {
  color: #39ac4f;
}
/* line 505, scss/media.scss */
body.admin .home h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin: 10px 0 25px 0;
}
/* line 513, scss/media.scss */
body.admin .home .box.bordered {
  border-top-width: 4px;
  border-top-color: #888;
}
/* line 517, scss/media.scss */
body.admin .home .box.bordered.border-orange {
  border-top-color: orange;
}
/* line 520, scss/media.scss */
body.admin .home .box.bordered.border-darkorange {
  border-top-color: #ff5f5f;
}
/* line 523, scss/media.scss */
body.admin .home .box.bordered.border-green {
  border-top-color: #39ac4f;
}
/* line 527, scss/media.scss */
body.admin .home .box .n {
  font-size: 2.4em;
  font-weight: bold;
}
/* line 531, scss/media.scss */
body.admin .home .box .splitted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 537, scss/media.scss */
body.admin .home .box .splitted > div {
  flex-basis: 50%;
  align-items: center;
}
/* line 542, scss/media.scss */
body.admin .home .box .splitted > div:first-child {
  border-right: 1px solid #f1f1f1;
}
/* line 546, scss/media.scss */
body.admin .home .box .centered {
  text-align: center;
}
/* line 550, scss/media.scss */
body.admin .home .box .primary {
  font-size: 1.2em;
}
/* line 552, scss/media.scss */
body.admin .home .box .primary .n {
  line-height: 1;
  margin-bottom: 10px;
}
/* line 556, scss/media.scss */
body.admin .home .box .primary .t {
  line-height: 1.2;
  color: #888888;
}
/* line 561, scss/media.scss */
body.admin .home .box .primary.with-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 568, scss/media.scss */
body.admin .home .box .primary.with-link > div {
  flex-basis: calc(100% - 30px);
}
/* line 571, scss/media.scss */
body.admin .home .box .primary.with-link .a {
  text-align: right;
  flex-basis: 30px;
}
/* line 575, scss/media.scss */
body.admin .home .box .primary.with-link .a a {
  display: block;
  font-size: 24px;
  color: #d2d2d2;
  line-height: 1;
  margin: 0;
  padding: 0;
}
/* line 582, scss/media.scss */
body.admin .home .box .primary.with-link .a a i {
  margin: 0;
  padding: 0;
}
/* line 587, scss/media.scss */
body.admin .home .box .primary.with-link .a a:hover {
  color: #39ac4f;
}

/* line 600, scss/media.scss */
.actions a {
  padding: 0 4px;
  font-size: 13px;
}
/* line 604, scss/media.scss */
.actions i[class*=fa-pencil] {
  color: #39ac4f !important;
}
/* line 607, scss/media.scss */
.actions i[class*=fa-trash] {
  color: #f44e5e !important;
}

/* line 612, scss/media.scss */
.btn.btn-danger {
  color: white;
}

/* line 616, scss/media.scss */
input[type=checkbox].ccb + label:before {
  color: #c1c1c1 !important;
  font-size: 20px !important;
}

/* line 621, scss/media.scss */
input[type=checkbox].ccb + label {
  font-size: 1.4em !important;
  padding-left: 24px !important;
}

/* line 625, scss/media.scss */
input[type=checkbox].ccb:checked + label:before {
  color: #39ac4f !important;
}

/* line 629, scss/media.scss */
.input-group-addon a {
  color: black;
}

/* line 634, scss/media.scss */
.menu-list .mi {
  background: #f3f3f3;
  margin: 5px 0;
  padding: 10px;
}
/* line 638, scss/media.scss */
.menu-list .mi .title {
  font-size: 1.3em;
  color: black;
}
/* line 642, scss/media.scss */
.menu-list .mi .position {
  color: #f44e5e;
  font-weight: bold;
  letter-spacing: 0;
  margin-right: 5px;
  text-transform: uppercase;
}
/* line 649, scss/media.scss */
.menu-list .mi.deep1 {
  margin-left: 10px;
  border-left: 2px solid #aaaaaa;
}
/* line 653, scss/media.scss */
.menu-list .mi.deep2 {
  margin-left: 20px;
  border-left: 4px solid #aaaaaa;
}
/* line 657, scss/media.scss */
.menu-list .mi.deep3 {
  margin-left: 30px;
  border-left: 8px solid #aaaaaa;
}

/* line 665, scss/media.scss */
.filters {
  margin: 0 0 15px 0;
}
/* line 669, scss/media.scss */
.filters form .row {
  align-items: flex-end;
}
/* line 671, scss/media.scss */
.filters form .row label {
  font-size: 0.8em;
}
/* line 674, scss/media.scss */
.filters form .row input {
  padding: 0 5px;
  line-height: 28px;
  height: 28px;
  font-size: 0.9em;
}
/* line 682, scss/media.scss */
.filters fieldset {
  position: relative;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #e2e2e2;
}
/* line 687, scss/media.scss */
.filters fieldset legend {
  border: 1px solid #e2e2e2;
  border-bottom: none;
  text-transform: none;
  font-size: 0.9em;
  padding: 5px 10px 2px 10px;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: -18px;
  left: 10px;
  background: #ffffff;
  width: auto;
}
/* line 702, scss/media.scss */
.filters ul, .filters li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 709, scss/media.scss */
.filters ul li {
  padding-right: 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 715, scss/media.scss */
.filters ul li a.btn {
  position: relative;
  color: #222222;
  font-size: 0.9em;
}
/* line 720, scss/media.scss */
.filters ul li a.btn i {
  margin-left: 3px;
}
/* line 724, scss/media.scss */
.filters ul li a.btn.btn-success {
  color: white;
}
/* line 730, scss/media.scss */
.filters ul li.hl a {
  border-right-width: 3px;
  border-style: solid;
  border-right-color: #444;
}
/* line 737, scss/media.scss */
.filters ul li.hl.hl-red a {
  border-right-color: red;
}
/* line 742, scss/media.scss */
.filters ul li.hl.hl-orange a {
  border-right-color: orange;
}
/* line 747, scss/media.scss */
.filters ul li.hl.hl-green a {
  border-right-color: #39ac4f;
}
/* line 752, scss/media.scss */
.filters ul li.sep {
  color: #eaeaea;
  padding: 0 10px 0 0;
}

/* line 761, scss/media.scss */
.allas-requests .item-status {
  font-size: 1.2em;
  margin-bottom: 10px;
}
/* line 764, scss/media.scss */
.allas-requests .item-status .total {
  color: black;
  margin-right: 10px;
}
/* line 768, scss/media.scss */
.allas-requests .item-status .accepted {
  color: #39ac4f;
  margin: 0 5px;
}
/* line 772, scss/media.scss */
.allas-requests .item-status .unaccepted {
  color: orange;
  margin: 0 5px;
}
/* line 776, scss/media.scss */
.allas-requests .item-status .declined {
  color: red;
  margin: 0 5px;
}
/* line 781, scss/media.scss */
.allas-requests a.backurl {
  color: #ffffff;
  margin-bottom: 10px;
  background: #9a9a9a;
}
/* line 786, scss/media.scss */
.allas-requests .no-result {
  text-align: center;
  font-size: 1.34em;
  color: #acacac;
  margin: 25px 0;
}
/* line 792, scss/media.scss */
.allas-requests .no-result h3 {
  color: #333333;
}
/* line 796, scss/media.scss */
.allas-requests .no-result i {
  font-size: 48px;
  color: #39ac4f;
  margin-bottom: 10px;
}
/* line 803, scss/media.scss */
.allas-requests .alert i {
  font-size: 13px;
}
/* line 807, scss/media.scss */
.allas-requests .alert a {
  color: white;
  text-decoration: underline;
  margin-left: 8px;
}
/* line 813, scss/media.scss */
.allas-requests .allas {
  background: #ffffff;
  margin: 5px 0;
  border: 2px solid #d2d2d2;
}
/* line 818, scss/media.scss */
.allas-requests .allas .header {
  padding: 10px;
  font-size: 1.2em;
  background: #eaeaea;
  border-bottom: 1px solid #d1d1d1;
  color: #454545;
}
/* line 825, scss/media.scss */
.allas-requests .allas .header .author-info {
  font-size: 0.9em;
  margin-bottom: 4px;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 0 8px 0;
  margin: 0 0 5px 0;
}
/* line 832, scss/media.scss */
.allas-requests .allas .header .author-info > span {
  margin-right: 5px;
}
/* line 835, scss/media.scss */
.allas-requests .allas .header .author-info > span strong {
  color: #333333;
}
/* line 840, scss/media.scss */
.allas-requests .allas .header .author-info .by {
  color: white;
  padding: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 846, scss/media.scss */
.allas-requests .allas .header .author-info .by.by-user {
  background: orange;
}
/* line 850, scss/media.scss */
.allas-requests .allas .header .author-info .by.by-admin {
  background: #f44e5e;
}
/* line 856, scss/media.scss */
.allas-requests .allas .header .desc {
  font-size: 1.1em;
  color: black;
}
/* line 860, scss/media.scss */
.allas-requests .allas .header .desc a {
  color: black;
  font-style: italic;
  text-decoration: underline;
}
/* line 867, scss/media.scss */
.allas-requests .allas .header .ads-data {
  font-size: 0.9em;
  margin-top: 5px;
}
/* line 871, scss/media.scss */
.allas-requests .allas .header .ads-data span {
  margin: 0 5px;
}
/* line 874, scss/media.scss */
.allas-requests .allas .header .ads-data .edit a {
  font-size: 0.7em;
  background: #888888;
  color: white;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
/* line 883, scss/media.scss */
.allas-requests .allas .header .contact {
  background: #dbdbdb;
  padding: 5px 8px;
  font-size: 0.9em;
  margin-top: 10px;
  color: #444444;
  position: relative;
}
/* line 891, scss/media.scss */
.allas-requests .allas .header .contact:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent  #dbdbdb transparent;
  top: -20px;
  left: 15px;
  pointer-events: none;
}
/* line 904, scss/media.scss */
.allas-requests .allas .header .contact span {
  padding: 0 8px 0 0;
  margin: 0 5px 0 0;
  border-right: 1px solid #acacac;
}
/* line 908, scss/media.scss */
.allas-requests .allas .header .contact span i {
  margin-right: 2px;
}
/* line 913, scss/media.scss */
.allas-requests .allas .header .contact > span:last-child {
  border-right: none;
}
/* line 920, scss/media.scss */
.allas-requests .allas .requests .info {
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
  font-size: 0.8em;
  color: white;
  background: #669d73;
}
/* line 928, scss/media.scss */
.allas-requests .allas .requests .info a {
  color: #e6e6e6;
  margin-left: 15px;
}
/* line 933, scss/media.scss */
.allas-requests .allas .requests .info.status-hasnotaccept {
  background: #ffa34d;
}
/* line 937, scss/media.scss */
.allas-requests .allas .requests .request {
  display: none;
  font-size: 1.1em;
  padding: 9px;
  border-bottom: 1px solid #f1f1f1;
}
/* line 943, scss/media.scss */
.allas-requests .allas .requests .request .status {
  flex-basis: 30px;
  text-align: center;
}
/* line 947, scss/media.scss */
.allas-requests .allas .requests .request .status i {
  font-size: 18px;
}
/* line 952, scss/media.scss */
.allas-requests .allas .requests .request .actions {
  flex-basis: 30%;
  text-align: right;
}
/* line 956, scss/media.scss */
.allas-requests .allas .requests .request .actions .btn {
  font-size: 0.8em;
  padding: 4px;
}
/* line 961, scss/media.scss */
.allas-requests .allas .requests .request .actions .picker {
  color: #f44e5e;
}
/* line 963, scss/media.scss */
.allas-requests .allas .requests .request .actions .picker.done {
  color: #39ac4f;
}
/* line 969, scss/media.scss */
.allas-requests .allas .requests .request .text {
  flex-basis: calc(100% - 30% - 30px);
}
/* line 973, scss/media.scss */
.allas-requests .allas .requests .request .contact {
  flex-basis: 100%;
}
/* line 976, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info {
  background: #f3f3f3;
  padding: 4px 0;
  font-size: 0.9em;
  margin-top: 5px;
  margin-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #888888;
  position: relative;
}
/* line 986, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent  #f3f3f3 transparent;
  top: -20px;
  left: 15px;
  pointer-events: none;
}
/* line 999, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info span {
  padding: 4px 8px 4px 4px;
  margin: 0 5px 0 0;
  border-right: 1px solid #acacac;
}
/* line 1005, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info span i {
  margin-right: 2px;
}
/* line 1010, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info > span.messanger {
  float: right;
  margin: 0;
  padding: 0;
}
/* line 1015, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info > span.messanger a {
  padding: 4px 6px;
  font-size: 0.9em;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 1023, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info > span.messanger a.session {
  background: #39ac4f;
  color: white;
}
/* line 1028, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info > span.messanger a.creating {
  background: #5b5b5b;
  color: white;
}
/* line 1034, scss/media.scss */
.allas-requests .allas .requests .request .contact .contact-info > span:last-child {
  border-right: none;
}
/* line 1040, scss/media.scss */
.allas-requests .allas .requests .request .request-actions {
  flex-basis: 100%;
  padding: 10px 0;
  padding: 10px 0;
  text-align: right;
}
/* line 1046, scss/media.scss */
.allas-requests .allas .requests .request .request-actions a {
  font-size: 0.95em;
}
/* line 1052, scss/media.scss */
.allas-requests .allas .requests .request.status-allowed .status i {
  color: #39ac4f;
}
/* line 1057, scss/media.scss */
.allas-requests .allas .requests .request.status-unallowed .status i {
  color: orange;
}
/* line 1061, scss/media.scss */
.allas-requests .allas .requests .request.status-declined {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/* line 1064, scss/media.scss */
.allas-requests .allas .requests .request.status-declined .status i {
  color: red;
}
/* line 1069, scss/media.scss */
.allas-requests .allas .requests .request.opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 1077, scss/media.scss */
.allas-requests .allas.focus {
  opacity: 1;
  filter: alpha(opacity=100);
  border: 5px solid #39ac4f;
  -webkit-box-shadow: 0 10px 45px -10px black;
  -moz-box-shadow: 0 10px 45px -10px black;
  box-shadow: 0 10px 45px -10px black;
}
/* line 1085, scss/media.scss */
.allas-requests .allas.defocus {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* line 1089, scss/media.scss */
.allas-requests .allas.defocus:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1098, scss/media.scss */
.request-action-panel {
  border-width: 5px;
  border-style: solid;
  color: white;
  margin: 5px 0 10px 0;
}
/* line 1104, scss/media.scss */
.request-action-panel h2 {
  font-size: 1.8em;
  margin-bottom: 12px;
}
/* line 1109, scss/media.scss */
.request-action-panel .info {
  text-align: center;
  padding: 20px;
  line-height: 1.4;
}
/* line 1115, scss/media.scss */
.request-action-panel.panel-decline {
  background: #f44e5e;
  border-color: #f44e5e;
}
/* line 1120, scss/media.scss */
.request-action-panel.panel-allower {
  background: #39ac4f;
  border-color: #39ac4f;
}
/* line 1125, scss/media.scss */
.request-action-panel .buttons {
  text-align: center;
  padding: 20px;
  background: #5b5b5b;
}
/* line 1131, scss/media.scss */
.request-action-panel .buttons .options label {
  font-size: 1em !important;
  font-weight: normal !important;
  margin-bottom: 0 !important;
  vertical-align: top;
  line-height: 1.2;
}

/* line 1148, scss/media.scss */
.messanger .wrapper .message-list .message-session .group-head .session-start .from_admin {
  color: #f44e5e;
}
/* line 1153, scss/media.scss */
.messanger .wrapper .message-list .message-session .allas-spot {
  padding: 3px;
}
/* line 1156, scss/media.scss */
.messanger .wrapper .message-list .message-session .allas-spot a {
  margin-bottom: 4px;
  display: block;
}
/* line 1164, scss/media.scss */
.messanger .wrapper .messanger-reader .header {
  padding: 0 0 20px 0;
}
/* line 1166, scss/media.scss */
.messanger .wrapper .messanger-reader .header .allas-spot {
  background: #ffffff;
  border: 2px dashed #dbdbdb;
  padding: 8px 4px;
}
/* line 1171, scss/media.scss */
.messanger .wrapper .messanger-reader .header .user-spot {
  background: #ffffff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px dashed #dbdbdb;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 8px;
}
/* line 1184, scss/media.scss */
.messanger .wrapper .messanger-reader .header .user-spot .ico {
  flex-basis: 50px;
  text-align: center;
  font-size: 38px;
  color: black;
}
/* line 1197, scss/media.scss */
.messanger .wrapper nav ul li a {
  background: #c3c3c3;
  color: #6d6d6d;
}
/* line 1202, scss/media.scss */
.messanger .wrapper nav ul li.active a {
  background: #f3f3f3;
}

/* line 1212, scss/media.scss */
.evt-grp {
  margin: 4px 0;
}
/* line 1214, scss/media.scss */
.evt-grp span {
  margin-right: 5px;
  font-size: 0.9em;
}
/* line 1218, scss/media.scss */
.evt-grp span i {
  color: #555555;
  font-size: 10px;
}
/* line 1223, scss/media.scss */
.evt-grp span a {
  color: #39ac4f;
}

/* line 1229, scss/media.scss */
.nav-container {
  text-align: center;
}

/* line 1233, scss/media.scss */
ul.pagination {
  margin: 10px 0;
  justify-content: center;
}
/* line 1237, scss/media.scss */
ul.pagination li {
  list-style: none;
}

/* line 1241, scss/media.scss */
.page-item.active .page-link {
  background-color: #39ac4f;
  border-color: #2c863d;
}

/* line 1247, scss/media.scss */
table.table {
  font-size: 0.85em;
}
