@import "settings";

body, html{
  background: #efefef;
  color: #454545;
}

body.profil-view{
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05em;
  height: auto;

  header{
    background: transparent;
    padding: 10px 0;

    .hwrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;

      .action-buttons{
        flex-basis: 50%;
        text-align: right;
        a{
          color: #222222;
          margin: 0 5px;
          font-size: 14px;
        }
      }
      .company-copy{
        text-align: left;
        flex-basis: 50%;

        img.logo {
          height: 45px;
          max-height: 45px;
        }
      }
    }
  }

  .cv-title{
    padding: 10px 0;
    text-align: center;
    h1 {
      text-transform: uppercase;
      color: black;
    }
  }

  .inside{
    background: #ffffff;
    padding: 25px;
  }
  .name-pop{
    font-size: 1.8em;
    margin-bottom: 20px;
    color: $color-primary-light !important;
  }

  .cv-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    .data-title{
      margin: 20px 0 10px 0;
    }

    &.cv-a-top{
      align-items: flex-start;
    }

    & > div.c8{
      flex-basis: 80%;
    }
    & > div.c7{
      flex-basis: 70%;
    }
    & > div.c5{
      flex-basis: 50%;
    }
    & > div.c3{
      flex-basis: 30%;
    }
    & > div.c2{
      flex-basis: 20%;
    }

    & > div.label {
      flex-basis: 120px;
      text-align: right;
      color: #777777;
      font-weight: 300;
      padding: 5px;
      font-size: 0.65em;
      text-transform: uppercase;
    }
    & > div.value{
      text-align: left;
      font-weight: bold;
      color: black;
      padding: 5px 5px 5px 25px;
      flex-basis: calc(100% - 120px);
    }
  }

  .profil-img{
    img{
      max-width: 100%;
      width: 100%;
    }
  }
}

.data-group{
  margin: 20px 0;

  .cv-title{
    text-align: left !important;
    border-top: 2px solid #e2e2e2;
    padding: 15px 0 !important;

    h2{
      font-size: 1.15em !important;
      color: black !important;
    }
  }
}

.socials{
  a.social {
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    margin: 0 5px;
    background: #444444;
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: white;

    &.social-twitter {
      background: #02d0ff;
    }

    &.social-facebook {
      background: #3b5998;
    }

    &.social-linkedin {
      background: #4099C8;
    }
  }
}

.show-on-print{
  display: none;
}
